@{
    Layout = null;
    @model List<Advantech.IFactory.CommonLibrary.rest_time>

}
@using AspNetCoreMvcPager;
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/grafana-UI-frame/style/main-subpage.css" />
    <script type="text/javascript">
        function deleteTiShi(url) {
            if (confirm("确认删除数据？")) {
                window.location.href = url;
            }
        }
    </script>
</head>
<body>
    <div class="head">
        <div class="title">
            主页>配置><span>休息时间(日常)</span>
        </div>
    </div>
    <div class="body">
        <div class="space"></div>

        <div class="search">

            @if (WebUserManager.Current.GetLevel >= UserLevelEnum.Manager)
            {
                <div class="button_div"><input type="button" style="margin-left:1%;width:10vw" value="新增休息时间(日常)" class="submit" onclick="window.location.href = '/RestTime/Edit'" /></div>
            }

        </div>
        <div class="space"></div>
        <table cellspacing="1" cellpadding="1">
            <tr class="color">
                <td style=" width:10%">编号</td>
                <td style=" width:15%">制程代码</td>
                <td style=" width:20%">开始时间</td>
                <td style=" width:20%">结束时间</td>
                <td style=" width:15%">是否启用</td>
                <td style=" width:15%">编辑</td>
                <td style=" width:15%">删除</td>
            </tr>
            @{
                int id = 1;
                foreach (var itmes in Model)
                {
                    <tr>
                        <td>@id</td>
                        <td>@itmes.unit_no</td>
                        <td>@itmes.start_time</td>
                        <td>@itmes.end_time</td>
                        <td>
                            @if (itmes.state == "A")
                            {<text>Enable</text>}
                        else if (itmes.state == "S")
                        { <text>Disable</text>}
                        </td>
                        <td>
                            @if (WebUserManager.Current.GetLevel >= UserLevelEnum.Manager)
                            {
                                <a href="/RestTime/Edit?id=@itmes.id">编辑</a>
                            }
                            else
                            {
                                <label>-</label>
                            }
                        </td>
                        <td>
                            @if (WebUserManager.Current.GetLevel >= UserLevelEnum.Manager)
                            {
                                <a href="#" onclick="deleteTiShi('/RestTime/Del?id=@itmes.id')">删除</a>
                            }
                            else
                            {
                                <label>-</label>
                            }
                        </td>

                    </tr>
                    id++;
                }

            }
        </table>
        <div class="page-nav" id="pageIndex">@Html.Raw(PagerHtmlString.Pager(ViewBag.model, "RestTime", "Index", true))</div>
    </div>
</body>
</html>
