@{
    Layout = null;
    @model Advantech.IFactory.CommonLibrary.webaccess_tag_info_web

}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/grafana-UI-frame/style/main-subpage.css" />
    <link rel="stylesheet" type="text/css" href="~/grafana-UI-frame/lib/jquery-ui/jquery-ui.min.css" />
    <script type="text/javascript" src="~/grafana-UI-frame/script/lib/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/grafana-UI-frame/lib/jquery-ui/jquery-ui.min.js"></script>

    <script>
        function jump() {
            window.location.href = "../TagInfo";
        }
        function AreaAttributeCancel() {
            $('#my_dialog').dialog("close");
        };
        function AreaAttributeConfirm() {
            var Tag_area_attribute = $('#Tag_area_attribute option:selected').val();
            switch (Tag_area_attribute) {
                case "area_info":
                    var area_id = $('#area_id option:selected').text();
                    $('#Tag_area_attribute_sub').val(area_id);
                    break;
                case "city_info":
                    var city_id = $('#city_id option:selected').text();
                    $('#Tag_area_attribute_sub').val(city_id);
                    break;
                case "plant_info":
                    var plant_id = $('#plant_id option:selected').text();
                    $('#Tag_area_attribute_sub').val(plant_id);
                    break;
                case "unit_info":
                    var unit_id = $('#unit_id option:selected').text();
                    $('#Tag_area_attribute_sub').val(unit_id);
                    break;
                case "dept_info":
                    var dept_id = $('#dept_id option:selected').text();
                    $('#Tag_area_attribute_sub').val(dept_id);
                    break;
                case "line_info":
                    var line_id = $('#line_id option:selected').text();
                    $('#Tag_area_attribute_sub').val(line_id);
                    break;
                case "station_info":
                    var station_id = $('#station_id option:selected').text();
                    $('#Tag_area_attribute_sub').val(station_id);
                    break;
                case "machine_info":
                    var machine_id = $('#machine_id option:selected').text();
                    $('#Tag_area_attribute_sub').val(machine_id);
                    break;
            }
            $('#my_dialog').dialog("close");
            
        };

        function AreaAttributeSet() {
            var Tag_area_attribute = $('#Tag_area_attribute option:selected').val();
            var Tag_area_attribute_sub = $('#Tag_area_attribute_sub').val();
            switch (Tag_area_attribute) {
                case "area_info":
                    $('#city_id_div').hide();
                    $('#plant_id_div').hide();
                    $('#unit_id_div').hide();
                    $('#dept_id_div').hide();
                    $('#line_id_div').hide();
                    $('#station_id_div').hide();
                    $('#machine_id_div').hide();
                    break;
                case "city_info":
                    $('#city_id_div').show();
                    $('#plant_id_div').hide();
                    $('#unit_id_div').hide();
                    $('#dept_id_div').hide();
                    $('#line_id_div').hide();
                    $('#station_id_div').hide();
                    $('#machine_id_div').hide();
                    break;
                case "plant_info":
                    $('#city_id_div').show();
                    $('#plant_id_div').show();
                    $('#unit_id_div').hide();
                    $('#dept_id_div').hide();
                    $('#line_id_div').hide();
                    $('#station_id_div').hide();
                    $('#machine_id_div').hide();
                    break;
                case "unit_info":
                    $('#city_id_div').show();
                    $('#plant_id_div').show();
                    $('#unit_id_div').show();
                    $('#dept_id_div').hide();
                    $('#line_id_div').hide();
                    $('#station_id_div').hide();
                    $('#machine_id_div').hide();
                    break;
                case "dept_info":
                    $('#city_id_div').show();
                    $('#plant_id_div').show();
                    $('#unit_id_div').show();
                    $('#dept_id_div').show();
                    $('#line_id_div').hide();
                    $('#station_id_div').hide();
                    $('#machine_id_div').hide();
                    break;
                case "line_info":
                    $('#city_id_div').show();
                    $('#plant_id_div').show();
                    $('#unit_id_div').show();
                    $('#dept_id_div').show();
                    $('#line_id_div').show();
                    $('#station_id_div').hide();
                    $('#machine_id_div').hide();
                    break;
                case "station_info":
                    $('#city_id_div').show();
                    $('#plant_id_div').show();
                    $('#unit_id_div').show();
                    $('#dept_id_div').show();
                    $('#line_id_div').show();
                    $('#station_id_div').show();
                    $('#machine_id_div').hide();
                    break;
                case "machine_info":
                    $('#city_id_div').show();
                    $('#plant_id_div').show();
                    $('#unit_id_div').show();
                    $('#dept_id_div').show();
                    $('#line_id_div').show();
                    $('#station_id_div').show();
                    $('#machine_id_div').show();
                    break;
            }
            if (Tag_area_attribute_sub != "") {
                $('#my_dialog').dialog({
                    title: "编辑区域属性",
                    modal: true,
                    width: "400",
                });
            }
            else {
                $('#my_dialog').dialog({
                    title: "添加区域属性",
                    modal: true,
                    width: "400",
                });
            }
        };

        function AreaAttributeChange() {
            $('#Tag_area_attribute_sub').val("");
        }


        function SetText() {
            var Tag_Type_Text = $('#Tag_Type option:selected').text();
            $('#Tag_Type_Text').val(Tag_Type_Text);

            var System_Tag_code_Text = $('#System_Tag_code option:selected').text();
            $('#System_Tag_code_Text').val(System_Tag_code_Text);

        }
            function getCityList() {
                var area_id = $('#area_id option:selected').val()
                if (area_id > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/TagInfo/GetCityList",
                        data: { "area_id": area_id },
                        success: function (msg) {
                            $('#city_id').html(msg);
                        },
                        error: function (msg) {
                            alert("Failed to get city");
                        }
                    });
                }
                else {
                    $('#city_id option').remove();
                    $('#plant_id option').remove();
                    $('#unit_id option').remove();
                    $('#dept_id option').remove();
                    $('#line_id option').remove();
                    $('#station_id option').remove();
                    $('#machine_id option').remove();
                }
            }
            function getPlantList() {

                var city_id = $('#city_id option:selected').val();
                if (city_id > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/TagInfo/GetPlantList",
                        data: { "city_id": city_id },
                        success: function (msg) {
                            $('#plant_id').html(msg);
                        },
                        error: function (msg) {
                            alert("Failed to get plant");
                        }
                    });
                }
                else {
                    $('#plant_id option').remove();
                    $('#unit_id option').remove();
                    $('#dept_id option').remove();
                    $('#line_id option').remove();
                    $('#station_id option').remove();
                    $('#machine_id option').remove();
                }
            }
            function getUnitList() {
                var plant_id = $('#plant_id option:selected').val();
                if (plant_id > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/TagInfo/GetUnitList",
                        data: { "plant_id": plant_id },
                        success: function (msg) {
                            $('#unit_id').html(msg);
                        },
                        error: function (msg) {
                            alert("Failed to get unit");
                        }
                    });
                }
                else {
                    $('#unit_id option').remove();
                    $('#dept_id option').remove();
                    $('#line_id option').remove();
                    $('#station_id option').remove();
                    $('#machine_id option').remove();
                }
            }
            function getDeptList() {
                var unit_id = $('#unit_id option:selected').val();
                if (unit_id > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/TagInfo/GetDeptList",
                        data: { "unit_id": unit_id },
                        success: function (msg) {
                            $('#dept_id').html(msg);
                        },
                        error: function (msg) {
                            alert("Failed to get Dept");
                        }
                    });
                }
                else {
                    $('#dept_id option').remove();
                    $('#line_id option').remove();
                    $('#station_id option').remove();
                    $('#machine_id option').remove();
                }
            }
            function getLineList() {
                var dept_id = $('#dept_id option:selected').val();
                if (dept_id > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/TagInfo/GetLineList",
                        data: { "dept_id": dept_id },
                        success: function (msg) {
                            $('#line_id').html(msg);
                        },
                        error: function (msg) {
                            alert("Failed to get Line");
                        }
                    });
                }
                else {
                    $('#line_id option').remove();
                    $('#station_id option').remove();
                    $('#machine_id option').remove();
                }
            }

            function getStationList() {
                var line_id = $('#line_id option:selected').val();
                if (line_id > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/TagInfo/GetStationList",
                        data: { "line_id": line_id },
                        success: function (msg) {
                            $('#station_id').html(msg);
                        },
                        error: function (msg) {
                            alert("Failed to get Station");
                        }
                    });
                }
                else {
                    $('#station_id option').remove();
                    $('#machine_id option').remove();
                }
            }

            function getMachineList() {
                var station_id = $('#station_id option:selected').val();
                if (station_id > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/TagInfo/GetMachineList",
                        data: { "station_id": station_id },
                        success: function (msg) {
                            $('#machine_id').html(msg);
                        },
                        error: function (msg) {
                            alert("Failed to get Machine");
                        }
                    });
                }
                else {
                    $('#machine_id option').remove();
                }
            }

            function GetSystemTagCodeList() {
                var Tag_Type = $('#Tag_Type option:selected').val();
                if (Tag_Type > 0) {
                    $.ajax({
                        type: "POST",
                        url: "/TagInfo/GetSystemTagCodeList",
                        data: { "Tag_Type": Tag_Type },
                        success: function (msg) {
                            $('#System_Tag_code').html(msg);
                        },
                        error: function (msg) {
                            alert("Failed to get Tag_Type");
                        }
                    });
                }
                else {
                    $('#System_Tag_code option').remove();
                }
            }
    </script>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/grafana-UI-frame/style/main-subpage.css" />
</head>
<body>
    <div class="head">
        <div class="title">
            @{
                if (Model == null)
                { <text>新增标签</text>}
            else
            { <text>编辑标签</text>}}
        </div>
    </div>
    <div class="content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="space"></div>
                        <form class="form-horizontal" action="../TagInfo/EditHandle" + style="margin-left:5%;" method="post" id="myfrom" enctype="multipart/form-data">
                            <div class="form-group col-sm-12"></div>
                            <div class="space"></div>
                            <div class="form-group">
                                <label for="inputUserName" style="font-size:initial" class="col-sm-3 control-label">标签编码(格式: 工程名:节点名:标签名)</label>
                                <div class="col-sm-9">
                                    @if (Model != null)
                                    {
                                        <input type="text" class="form-control" style="width:50%;text-decoration:solid" id="Tag_code" name="Tag_code" value="@if (Model != null) {@Model.tag_code}" readonly="readonly">
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" style="width:50%;text-decoration:solid" id="Tag_code" name="Tag_code" value="@if (Model != null) {@Model.tag_code}">
                                    }
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="form-group">
                                <label for="inputUserName" style="font-size:initial" class="col-sm-3 control-label">标签类型</label>
                                <div class="col-sm-9">
                                    <select id="Tag_Type" name="Tag_Type" class="form-control" style="width:52%" onchange="GetSystemTagCodeList()">
                                        <option value=""></option>
                                        @{
                                            foreach (var items in ViewBag.TypeList)
                                            {
                                                if (Model != null && Model.system_type_code == items.type_name_en)
                                                {
                                                    <option value=@items.id selected="selected">@items.type_name_en</option>
                                                }
                                                else
                                                {
                                                    <option value=@items.id>@items.type_name_en</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <input type="hidden" name="Tag_Type_Text" id="Tag_Type_Text" />
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="form-group">
                                <label for="inputEmail3" style="font-size:initial" class="col-sm-3 control-label">系统标签编码</label>
                                <div class="col-sm-9">
 
                                    <select id="System_Tag_code" name="System_Tag_code" class="form-control" style="width:52%" >
                                        <option value=""></option>
                                        @{
                                            foreach (var items in ViewBag.SystemTagCodeList)
                                            {
                                                if (Model != null && Model.system_tag_code == items.code_name_en)
                                                {
                                                    <option value=@items.id selected="selected">@items.code_name_en</option>
                                                }
                                                else
                                                {
                                                    <option value=@items.id>@items.code_name_en</option>
                                                }
                                            }
                                        }
                                    </select>
                                    <input type="text" hidden="hidden" name="System_Tag_code_Text" id="System_Tag_code_Text" />
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="form-group">
                                <label for="inputPassword3" style="font-size:initial" class="col-sm-3 control-label">描述</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" style="width:50%" id="Tag_description" name="Tag_description" value="@if (Model != null) {@Model.tag_description}">
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="form-group">
                                <label for="inputPassword3" style="font-size:initial" class="col-sm-3 control-label">区域属性</label>
                                <div class="col-sm-9">
                                    <select id="Tag_area_attribute" name="Tag_area_attribute" onchange="AreaAttributeChange()" class="form-control" style="width:52%">
                                        @{
                                            foreach (string op in ViewBag.TagAreaAttributeList)
                                            {
                                                if (Model != null && Model.area_attribute_name == op)
                                                {
                                                    <option value=@op selected="selected">@op</option>
                                                }
                                                else
                                                {
                                                    <option value=@op>@op</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="form-group">
                                <label for="inputPassword3" style="font-size:initial" class="col-sm-3 control-label">区域属性值</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" style="width:50%" id="Tag_area_attribute_sub" onclick="AreaAttributeSet()" name="Tag_area_attribute_sub" value="@if (Model != null) {@Model.area_attribute_sub_name}" readonly="readonly">
                                </div>
                            </div>
                            <div class="space"></div>
                            <div class="">
                                <div>
                                    <div style="margin-left:32%">
                                        <input type="submit" class="" style="width:100px;height:30px" onclick="SetText()" id="Signup">
                                        <input type="button" class="" style="margin-left:5%; width:100px;height:30px" value="取消" onclick="jump()" id="Cancel">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div id="my_dialog" title="" style="display: none">
            <div class="content-wrap">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="space"></div>
                                <form class="form-horizontal" style="margin-left:10%" id="myfrom" enctype="multipart/form-data">
                                    <div class="form-group col-sm-12"></div>
                                    <div class="form-group" >
                                        <label for="inputUserName"  style="font-size:initial;float:left;margin-top:5px;margin-right:10px" class="col-sm-3 control-label">区域</label>
                                        <div class="col-sm-9">
                                            <select id="area_id" name="area_id" onchange="getCityList()" class="form-control" style="width:60%">
                                                <option value=""></option>
                                                @{
                                                    foreach (var items in ViewBag.AreaAttributeList)
                                                    {
                                                        <option value=@items.area_id>@items.area_name_en</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                    <div class="form-group" id="city_id_div">
                                        <div class="space"></div>
                                        <label for="dtp_input1" style="font-size:initial;float:left;margin-top:5px;margin-right:10px" class="col-sm-3 control-label" >城市</label>
                                        <div class="col-sm-9" >
                                            <select id="city_id" name="city_id" onchange="getPlantList()" class="form-control" style="width:60%"></select>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                    <div class="form-group" id="plant_id_div">
                                        <div class="space"></div>
                                        <label for="inputEmail3" style="font-size:initial;float:left;margin-top:5px;margin-right:10px"  class="col-sm-3 control-label">厂别</label>
                                        <div class="col-sm-9">
                                            <select id="plant_id" name="plant_id" onchange="getUnitList()" class="form-control" style="width:60%"></select>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                    <div class="form-group" id="unit_id_div">
                                        <div class="space"></div>
                                        <label for="inputPassword3" style="font-size:initial;float:left;margin-top:5px;margin-right:10px" class="col-sm-3 control-label">制程</label>
                                        <div class="col-sm-9">
                                            <select id="unit_id" name="unit_id" onchange="getDeptList()" class="form-control" style="width:60%"></select>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                    <div class="form-group" id="dept_id_div">
                                        <div class="space"></div>
                                        <label for="inputPassword3" style="font-size:initial;float:left;margin-top:5px;margin-right:10px" class="col-sm-5 control-label">部门</label>
                                        <div class="col-sm-9">
                                            <select id="dept_id" name="dept_id" onchange="getLineList()" class="form-control" style="width:60%"></select>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                    <div class="form-group" id="line_id_div">
                                        <div class="space"></div>
                                        <label for="inputPassword3" style="font-size:initial;float:left;margin-top:5px;margin-right:10px" class="col-sm-3 control-label">线别</label>
                                        <div class="col-sm-9">
                                            <select id="line_id" name="line_id" onchange="getStationList()" class="form-control" style="width:60%"></select>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                    <div class="form-group" id="station_id_div">
                                        <div class="space"></div>
                                        <label for="inputPassword3" style="font-size:initial;float:left;margin-top:5px;margin-right:10px" class="col-sm-3 control-label">站位</label>
                                        <div class="col-sm-9">
                                            <select id="station_id" name="station_id" onchange="getMachineList()" class="form-control" style="width:60%"></select>
                                        </div>
                                        <div class="space"></div>
                                    </div>                                    
                                    <div class="form-group" id="machine_id_div">
                                        <div class="space"></div>
                                        <label for="inputPassword3" style="font-size:initial;float:left;margin-top:5px;margin-right:10px" class="col-sm-3 control-label">设备</label>
                                        <div class="col-sm-9">
                                            <select id="machine_id" name="machine_id" class="form-control" style="width:60%"></select>
                                        </div>
                                        <div class="space"></div>
                                    </div>
                                    <div class="">
                                        <div>
                                            <div class="space"></div>
                                            <div style="margin-left:35%">
                                                <input type="button" class="" style="width:100px;height:30px" value="确定" onclick="AreaAttributeConfirm()" id="Signup">
                                                <input type="button" class="" style="width:100px;height:30px" value="取消" onclick="AreaAttributeCancel()" id="Signup">
                                                @*<input type="button" class="" style="margin-left:5%; width:100px;height:30px" value="取消" onclick="AreaAttributeCancel()" id="AreaAttributeCancel">*@
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>





