@{
    Layout = null;
    @model Advantech.IFactory.CommonLibrary.user
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="~/grafana-UI-frame/style/main-subpage.css" />
    <script type="text/javascript" src="~/grafana-UI-frame/script/lib/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            $('.submit').click(function () {
                var user_name = $('#user_name').val();
                var user_level = $('#user_level').val();
                var id = $('#id').val();

                if (user_name == "" || user_level == "") {
                    $("#prompt").text("UserName and user_level Can't be empty");
                    $("#prompt").show();
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/User/Verification",
                        data: { userName: user_name, id: id },
                        success: function (msg) {
                            if (msg == "Success") {
                                $("#prompt").hide();
                                $("#myfrom").submit();
                            }
                            else {
                                $("#prompt").text("The user has already existed");
                                $("#prompt").show();
                            }
                        },
                        error: function (msg) {
                            $("#prompt").text("Getting data failure");
                            $("#prompt").show();
                        }
                    });
                }

                //$("#myfrom").submit();
            });
        });
         //area选择获取城市列表
        function getCityList() {
            var area_id = $('#area_id option:selected').val()
            if (area_id > 0) {
                $.ajax({
                    type: "POST",
                    url: "/Plant/GetCityList",
                    data: { "area_id": area_id },
                    success: function (msg) {
                        $('#city_div').html(msg);
                    },
                    error: function (msg) {
                        alert("Failed to get city");
                    }
                });
            }
            else {
                $('#city_id option').remove();
            }
        }
        //city选择获取车间列表
        function getPlantList() {
            var city_id = $('#city_id option:selected').val();
            if (city_id > 0) {
                $.ajax({
                    type: "POST",
                    url: "/Line/GetPlantList",
                    data: { "city_id": city_id },
                    success: function (msg) {
                        $('#plant_div').html(msg);
                    },
                    error: function (msg) {
                        alert("Failed to get plant");
                    }
                });
            }
            else {
                $('#plant_id option').remove();
            }
        }
        //plant选择获取部门列表
        function getDeptList() {
            var plant_id = $('#plant_id option:selected').val();
    
            if (plant_id > 0) {
                $.ajax({
                    type: "POST",
                    url: "/Line/GetDeptList",
                    data:
                    { "plant_id": plant_id },
                    success: function (msg) {
                        $('#dept_div').html(msg);
                    },
                    error: function (msg) {
                        alert("Failed to get dept");
                    }
                });
            }
            else {
                $('#dept_id option').remove();
            }
        }
    </script>
</head>
<body>
    <div class="head">
        <div class="title">
            主页>用户管理><span>@{ if (Model == null)
                { <text>添加用户</text>}
            else
            { <text>编辑用户</text>}}</span>
        </div>
    </div>
    <div class="body">
        <div class="space"></div>
        <div class="single_div">
            <div class="edit_title">
                @{
                    if (Model == null)
                    { <text>添加用户</text>}
                else
                { <text>编辑用户</text>}
                }
            </div>
            <div class="prompt" id="prompt"></div>
        </div>
        @* action="/User/EditHandle" *@
        <form class="form-horizontal" asp-controller="User" asp-action="EditHandle" method="post" id="myfrom">
            <div class="space"></div>
            <div class="single_div">
                <div class="left">区域名称</div>
                <div class="right">
                    <select class="select" id="area_id" name="area_id" onchange="getCityList()">
                        <option value=""></option>
                        @{
                            Advantech.IFactory.CommonLibrary.AreaInfoManager AIM = new Advantech.IFactory.CommonLibrary.AreaInfoManager();
                            List<Advantech.IFactory.CommonLibrary.area_info> objList = AIM.SelectAll();
                            if (objList.Count > 0)
                            {
                                for (int i = 0; i < objList.Count; i++)
                                {
                                    <!option value="@objList[i].area_id" @if (Model != null) { if (objList[i].area_id == ViewBag.area_id) { <text> selected </text> } }>@objList[i].area_name_cn</!option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="space"></div>
            <div class="single_div">
                <div class="left">城市名称</div>
                <div class="right" id="city_div">
                    <select class="select" id="city_id" name="city_id" onchange="getPlantList()">
                        <option value=""></option>
                        @{
                            if (Model != null)
                            {
                                Advantech.IFactory.CommonLibrary.CityInfoManager CIM = new Advantech.IFactory.CommonLibrary.CityInfoManager();
                                List<Advantech.IFactory.CommonLibrary.city_info> objCityList = CIM.SelectAll(ViewBag.area_id);
                                for (int i = 0; i < objCityList.Count; i++)
                                {
                                    <!option value="@objCityList[i].city_id" @if (objCityList[i].city_id == ViewBag.city_id) { <text> selected </text> }>@objCityList[i].city_name_cn</!option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="space"></div>
            <div class="single_div">
                <div class="left">厂区名称</div>
                <div class="right" id="plant_div">
                    <select class="select" id="plant_id" name="plant_id" onchange="getDeptList()">
                        <option value=""></option>
                        @{
                            if (Model != null)
                            {
                                Advantech.IFactory.CommonLibrary.PlantInfoManager PIM = new Advantech.IFactory.CommonLibrary.PlantInfoManager();
                                List<Advantech.IFactory.CommonLibrary.plant_info> objPlantList = PIM.SelectAll(ViewBag.city_id);
                                for (int i = 0; i < objPlantList.Count; i++)
                                {
                                    <!option value="@objPlantList[i].plant_id" @if (objPlantList[i].plant_id == ViewBag.plant_id) { <text> selected </text> }>@objPlantList[i].plant_name_cn</!option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left">部门名称</div>
                <div class="right" id="dept_div">
                    <select class="select" id="dept_id" name="dept_id" onchange="getUnitList()">
                        <option value=""></option>
                        @{
                            if (Model != null)
                            {
                                DeptInfoManager deptInfoManager = new DeptInfoManager();
                                List<Advantech.IFactory.CommonLibrary.dept_info> deptList = deptInfoManager.SelectAll(ViewBag.plant_id);
                                for (int i = 0; i < deptList.Count; i++)
                                {
                                    <!option value="@deptList[i].dept_id" @if (deptList[i].dept_id == Model.dept_id) { <text> selected </text> }>@deptList[i].dept_name_cn</!option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="space"><input type="hidden" value="@if(ViewBag.id!=null){@ViewBag.id}" id="id" name="id" /></div>
            <div class="single_div">
                <div class="left">用户名称</div>
                <div class="right">
                    <input type="text" class="text" id="user_name1" name="user_name" value="@if (Model != null){@Model.user_name}" />
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left">用户等级</div>
                <div class="right">
                    <select class="select" id="user_level" name="user_level">
                        <!option value="@((int)UserLevelEnum.Admin)" @if (Model != null) { if (Model.user_level == (int)UserLevelEnum.Admin) { <text> selected </text> } }>系统管理员</!option>
                        <!option value="@((int)UserLevelEnum.Manager)" @if (Model != null) { if (Model.user_level == (int)UserLevelEnum.Manager) { <text> selected </text> } }>生产管理员</!option>
                        <!option value="@((int)UserLevelEnum.Operator)" @if (Model != null) { if (Model.user_level == (int)UserLevelEnum.Operator) { <text> selected </text> } }>操作员</!option>
                    </select>
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="single_div">
                    <div class="left">用户密码</div>
                    <div class="right">
                        <input type="text" class="text" id="pass_word" name="pass_word" value="@if (Model != null){@Model.pass_word}" />
                    </div>
                </div>
            </div>
            <div class="single_div" style="display:none">
                <div class="single_div">
                    <div class="left">创建时间</div>
                    <div class="right">
                        <input type="text" class="text" id="create_time" name="create_time" value="@if (Model != null){@Model.create_time}" />
                    </div>
                </div>
            </div>
            <div class="space"></div>
            <div class="single_div">
                <div class="left"></div>
                <div class="right">
                    <input type="button" class="submit" style=" width:15%" value="提交" />
                </div>
            </div>
            <div class="space"></div>
        </form>
    </div>
</body>
</html>
